[submodule "assets"]
	path = assets
	url = https://github.com/JC5LZiy3HVfV5ux/socks5-assets.git
[submodule "examples/simple-socks5-proxy"]
	path = examples/simple-socks5-proxy
	url = https://github.com/JC5LZiy3HVfV5ux/simple-socks5-proxy
